.editor-canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
	width: 100%;
	border: .2rem solid #ececec;
	border-radius: 0px 0px 0px 8px;
	padding: 1rem;
	margin-top: -0.2rem;
}

.editor-context-menu {
	z-index: 99;
}