.centered-text {
	text-align: center;
}

.create-container>.row>div {
	margin-top: 20px;
	border: .2rem solid #ececec;
	border-radius: 8px;
	padding: 1rem;
}

#image-front, #image-back {
	position: relative;
	width: 100%;
	padding-top: 100%;
	background-color: #999999;
	border-radius: 1rem;
	cursor: pointer;
}

#image-front>svg, #image-back>svg {
	position: absolute;
}

.hidden-input {
	display: none;
}

.upload-image {
	cursor: pointer;
}