.pcb-view-header {
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
	width: 100%;
	border: 0.2rem solid #ececec;
	border-radius: 8px 0px 0px 0px;
	padding: 0.5rem;
	position: relative;
}

.pcb-view-container {
	min-width: 75%;
	margin-top: 20px;
}

.pcb-left-pane {
	padding-right: 0px;
}

.pcb-right-pane {
	padding-left: 0px;
}

.pcb-view-header > div {
}

.pcb-view-header > svg {
	margin: auto;
	margin-left: 10px;
	top: 0px;
	bottom: 0px;
	cursor: pointer;
}

.view-title-col {
	text-align: center;
	font-weight: bold;
	font-size: 1.75rem;
	width: 100%;
	display: inline-block;
}

.view-buttons-col {
	display: inline-block;
}